// String Functions
//  1. String Split
//  2. String Extract
//  3. Substring Last Character

// ---------------------------
// String Split
// ---------------------------
// splits a string based on a delimiter and returns a list with seperated values
// >> use nth($list, 1) and nth($list, 2) to grab the seperated values
@function str-split($string, $delimiter)
  $at-delimiter: str-index($string, $delimiter)
  $first: str_slice($string, 1, $at-delimiter - 1)
  $second: str_slice($string, $at-delimiter + 1, str-length($string))

  $list: append($first, $second)
  @return $list

// ---------------------------
// String Extract
// ---------------------------
// returns the first value found inside a string from a list (or substring)
@function str-extract($str, $list)
  @each $value in $list
    @if str-index($str, $value)
      @return $value
  @error 'The string #{$str} did not contain any value #{$list}'

// ---------------------------
// Substring Last Character
// ---------------------------
// returns the last occurances of a character in a substring
@function substr-last-char($str, $substr)
  $start: str-index($str, $substr)

  // don't need to count start position if substring is in beginning
  @if $start == 1
    $start: 0

  @return $start + str-length($substr)
